<%= form_tag(exportar_receita_path(@receita), method: "post") do %>

  <div class="form-group">
    <%= label_tag :paciente, "Paciente:" %>
    <%= text_field_tag :paciente, @paciente, :class => 'form-control' %>
  </div>

  <div class="form-group">
    <%= label_tag :data, "Data:" %>
    <%= text_field_tag :data, @data, :class => 'form-control' %>
  </div>

  <div class="form-group">
    <%= label_tag :observacoes, "Observações:" %>
    <%= text_area_tag :observacoes, @observacoes, :class => 'form-control', size: "25x5" %>
  </div>

  <div class="form-group">
    <%= label_tag :numero_copias, "Número de Cópias:" %>
    <%= text_field_tag :numero_copias, @numero_copias, :class => 'form-control' %>
  </div>

  <div class="form-group">
    <%= label_tag :orientacao, "Orientação:" %>
      <%= select_tag(:id_orientacao, options_from_collection_for_select(Orientacao.all, :id, :nome, @id_orientacao), {:prompt => '', :class => 'form-control'}) %>
  </div>

  <%= submit_tag 'Gerar', :class => 'btn btn-default' %>
  <%= link_to 'Voltar', receitas_path, :class => 'btn btn-default' %>

<% end %>