<h1>Preparar Receita</h1>

<% if @receita.errors.any? %>
  <div class="alert alert-danger" role="alert">
    <strong><%= pluralize(@receita.errors.count, "erro") %> ao tentar salvar:</strong>

    <ul>
    <% @receita.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<%= form_for @receita, method: :get, :url => exportar_receita_path(@receita), :html => {:target => '_blank', :class => 'form-horizontal', :role => 'form'} do |f| %>

  <div class="form-group">
    <%= f.label :paciente, "Paciente:" %>
    <%= f.text_field :paciente, :class => 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :data, "Data:" %>
    <%= f.text_field :data, :class => 'form-control' %>
  </div>

  <% if @receita.has_parameters? %>
    <% @receita.itens_receita.each do |item_receita| %>

      <div class="form-group">
        <%= "#{item_receita.medicamento.nome} - #{item_receita.instrucoes_uso}" %>
        <% item_receita.parameters_count.times do |index| %>
          <%= text_field_tag "receita[itens_receita_attributes][#{item_receita.id}][parameters_attributes][#{index}][value]" %>
        <% end %>
      </div>
    <% end %>
  <% end %>

  <div class="form-group">
    <%= f.label :observacoes, "Observações:" %>
    <%= f.text_area :observacoes, :class => 'form-control', size: "25x5" %>
  </div>

  <div class="form-group">
    <%= f.label :numero_copias, "Número de Cópias:" %>
    <%= f.number_field :numero_copias, :class => 'form-control', :min => 1 %>
  </div>

  <div class="form-group">
    <%= f.label :orientacao, "Orientação:" %>
    <%= f.collection_select(:orientacao, Orientacao.order(:nome).all, :id, :nome, {:prompt => ''}, {:class => 'form-control'}) %></td>
  </div>

  <%= submit_tag 'Gerar', :class => 'btn btn-default' %>
  <%= link_to 'Voltar', receitas_path, :class => 'btn btn-default' %>

<% end %>

