<% if notice.present? %>
  <div class="alert alert-success" role="alert"><p id="notice"><%= notice %></p></div>
<% end %>

<p>
	<strong>Nome da Receita:</strong>
	<%= @receita.nome %>

	<ul>
		<% @receita.itens_receita.each do |item| %>
		  <li><%= item.medicamento.nome %> <%= pluralize(item.quantidade, item.unidade_medida.nome).upcase %><br />
		  	<%= item.instrucoes_de_uso %><br />
		  	<% if item.sugestao_horario? %>
		  	Sugestão de horário: <%= item.sugestao_horario %></li>
		  	<% end %>
		<% end %>
	</ul>
</p>

<%= link_to 'Preparar Receita', preparar_receita_path(@receita), :class => 'btn btn-default', :target => "_blank" %>
<%= link_to 'Editar', edit_receita_path(@receita), :class => 'btn btn-default' %>
<%= link_to 'Voltar', receitas_path, :class => 'btn btn-default' %>
