<%= form_for @orientacao, :html => {:class => 'form-horizontal', :role => 'form'} do |f| %>

  <% if @orientacao.errors.any? %>
    <div class="alert alert-danger" role="alert">
      <strong><%= pluralize(@orientacao.errors.count, "erro") %> ao tentar salvar:</strong>

      <ul>
      <% @orientacao.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :nome %>
    <%= f.text_field :nome, :class => 'form-control' %>
  </div>

  <h3>Itens</h3>

  <div id="itens_orientacao">
    <ul>
      <%= f.fields_for :itens_orientacao do |item_form| %>
        <%= render partial: 'item', :object => item_form %>
      <% end %>
    </ul>

    <%= link_to_add_item_orientacao "Adicionar Item", f, :itens_orientacao, 'btn btn-default' %>
  </div>

  <br />
  <br />

  <%= f.submit 'Salvar', :class => 'btn btn-default' %>
  <%= link_to 'Voltar', orientacoes_path, :class => 'btn btn-default' %>

<% end %>